$black: #101010;
$lightgreen: #d2d8c5;
$white: white;


.flex-ver-middle {
    align-items: center;
}

.high-index {
    z-index: 100;
}


.secondary-color {
    color: $black;
    background: $lightgreen;
}